*{
    margin: 0;
    list-style: none;
    padding: 0%;
}
.container{
    width: 100%;
    font-family: sans-serif;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
div[class*='col-'] {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}
.webinfo-item{
    background-color: #272727;
    width: 100%;
}
.webinfo-item a,.webinfo-item address,.webinfo-item div{
    text-decoration: none;
    color: white;
}

.webinfo-item a i,.webinfo-item address i{
    color: #2ac5f4;
    padding-right: 15px;
}

.webinfo-item div i{
    padding: 0 5px;
}

@media screen and (max-width:767px){
    .col-1 {width: 8.33333333333%;}
    .col-2 {width: 16.6666666666%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.3333333333%;}
    .col-5 {width: 41.6666666666%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.3333333333%;}
    .col-8 {width: 66.6666666666%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.333333333%;}
    .col-11 {width: 91.666666666%;}
    .col-12 {width: 100%;}

    .webinfo-item{
        text-align: center;
        padding: 40px 0;
    }

    .webinfo-item a{
        line-height: 70px;
    }
}
@media screen and (min-width:768px){
    .col-md-1 {width: 8.33333333333%;}
    .col-md-2 {width: 16.6666666666%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.3333333333%;}
    .col-md-5 {width: 41.6666666666%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.3333333333%;}
    .col-md-8 {width: 66.6666666666%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.333333333%;}
    .col-md-11 {width: 91.666666666%;}
    .col-md-12 {width: 100%;}

    .webinfo-item{
        padding: 15px 80px;
    }
    .webinfo-item address{
        display: inline;
        padding-right: 20px;
    }

    .webinfo-item div{
        display: inline;
        

    }
}
